section{
    display: grid;
    /* grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px; */

    /* grid-template-columns: repeat(5,200px);
    grid-template-rows: repeat(2,200px); */

    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 400px);

    /* gap: 4px; */
    /* column-gap: 10px; */
    row-gap: 20px;
}


div{
    /* width: 200px; */
    /* height: 200px; */
    color: white;
    background-color: black;
    /* display: grid; */
    border: 2px solid green;
}
